*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#borda{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 700px;
    height: 50px;
    margin: 50px;
    border-radius:10px;
    box-shadow: 5px 5px 5px 5px rgb(53, 0, 40);
}

#cell {
    height: 20px;
    width: 500px;
    background-color: #abdcf0;
    border-radius:50px 50px;
    box-shadow: 3px 3px rgb(160, 183, 233);
}

#cell:hover {
    transform: translate(2px, 2px);
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.733);
    transition: transform .2s, border 3s;
}

.game-board {
    width: 100%;
    height: 500px;
    border-bottom: 15px solid rgb(128, 67, 18);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#47bae7, #3d4346);
}

.pipe {
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 60px;
    right: -80px;
    animation: pipe-animation 1.5s infinite linear ;
}

.mario {
    height: 100px;
    width: 130px;
    position: absolute;
    bottom: 0px; 
}

.jump {
    animation: jump 500ms ease-out ;
}

.nuvem {
    position: absolute;
    width: 300px;
    animation: nuvem-animation 10s infinite linear;
}

@keyframes pipe-animation {
    from {
        right: -80;
    }
    to {
        right: 100%;
    }
}

@keyframes jump {
    0% {
        bottom: 0;
    }
    40% {
        bottom: 180px;
    }

    50% {
        bottom: 180px;
    }
    60% {
        bottom: 180px;
    }

    100% {
        bottom: 0;
    }
}

@keyframes nuvem-animation {
from{
    right: -550px;
}

to {
    right: 100%;
}
}